openapi: 3.1.0
info:
  title: Smart Lock SaaS Platform API
  version: 2.3.0
  description: |
    v2.3.0 (2026-05-26): Quote / Pricing API cascade per Forum-Lite Q01 (2026-05-26-Q01).
    - New /pricing/calculate + /quotes/* (8 endpoints) per ADR-0062 ~ 0066
    - WorkOrderCreate.quote_id (with emergency carve-out per ADR-0066)
    - 8 new error codes
    - References: ADR-0062 (Pricing Engine BC) / ADR-0063 (AI Utterance Boundary) /
      ADR-0064 (LIFF Token & Idempotency) / ADR-0065 (Quote Re-version Self-FK) /
      ADR-0066 (Emergency Retrospective Audit)

    V1.0 API contract — originally frozen at 2026-05-22 per Gate 5a.
    Source: Forum F-01 Option C++ / ADR-0060 / ADR-0061.

    Contract design principles (sd):
    - **Contract first**: every endpoint has happy + error path enumerated
    - **Idempotency**: POST mutations require `Idempotency-Key` header (24h dedup for LINE webhook; per-request for others)
    - **Error model exhaustive**: each endpoint enumerates 400/403/404/409/422/425/423 where applicable. No generic 500-as-business-error
    - **Status codes precise**: 409 = state conflict, 410 = gone (expired/voided), 422 = schema validation, 423 = resource locked (legal_hold), 425 = too early (precondition not met)
    - **Telemetry hooks**: every endpoint emits OTel spans with `tenant_id`, `actor_role`, `idempotency_key` tags
    - **Cursor pagination** on all list endpoints (no offset/page; avoids deep-skip cost)
    - **tenant_id propagation** enforced at handler entry (ADR-0030); cross-tenant write returns 403 CROSS_TENANT_WRITE
    - **Additive-only V2 evolution**: V2 workflow uses sub-resource actions (`/contract-templates/{id}:submit`) — V1 client never breaks
    - **Forbidden actions**: AI agent cannot call `convert_to_work_order` directly; CS 1-click required (ADR-0031); enforced at API layer via `created_by_role` check
    - **AI Utterance Boundary** (ADR-0063): AI cannot self-compose final-quote NTD-figure text; final-quote LIFF send must use server-generated `flex_message_template_id`; warranty/project case AI is forbidden to send

    Quote lifecycle telemetry (v2.3.0):
      Every /quote/* and /pricing/* endpoint MUST accept W3C `traceparent` header; audit_trail
      rows MUST carry `trace_id`; LIFF flex message metadata MUST embed `quote_id + trace_id` so
      that D3-B' guardrail Eval 200-question harness has an observable anchor for assertion.

    Error code catalogue (cross-endpoint):
      - 401 LIFF_TOKEN_EXPIRED (ADR-0064)
      - 403 CROSS_TENANT_WRITE (ADR-0030)
      - 403 AI_FORBIDDEN_ACTION (ADR-0031 / 0047)
      - 403 AI_FORBIDDEN_QUOTE_CREATE (ADR-0063)
      - 403 AI_FORBIDDEN_FINAL_QUOTE (ADR-0063)
      - 403 AI_FORBIDDEN_WARRANTY_PROJECT (ADR-0063)
      - 403 DGS_LEGAL_HOLD_ACTIVE (ADR-0061)
      - 403 INSUFFICIENT_AUTHORITY (RBAC; ADR-0063)
      - 409 CONTRACT_VERSION_CONFLICT (ADR-0060)
      - 409 QUOTE_STATE_INVALID (ADR-0062)
      - 409 QUOTE_VERSION_STALE (ADR-0065)
      - 409 URGENT_WINDOW_EXPIRED (ADR-0066)
      - 410 QUOTE_EXPIRED (ADR-0064; 48h TTL)
      - 410 AUDIT_WINDOW_EXPIRED (ADR-0066; 4h)
      - 422 PC_UNIQUE_VIOLATION (ADR-0036)
      - 422 SCOPE_OVERLAP (ADR-0060)
      - 422 ADDRESS_REQUIRED_FOR_CLOSE (ADR-0032)
      - 422 PRICING_ENGINE_DOWN_NO_OVERRIDE (ADR-0062)
      - 423 LEGAL_HOLD_BLOCKS_FORGET (GDPR Art.17 + customer notice; ADR-0061)
      - 425 SOP_DUAL_REVIEW_NOT_DONE (FR-NEW-5)
      - 425 QUOTE_NOT_CUSTOMER_SENT (ADR-0062)
      - 425 QUOTE_REQUIRED_NON_EMERGENCY (ADR-0066)
  contact:
    name: devteam-design (sd)
    url: https://github.com/lock-smith-project/dev-docs
    email: devteam@smart-lock-saas.com

servers:
  - url: https://api.smart-lock-saas.com/v1
    description: V1 production

security:
  - bearerAuth: []

tags:
  # --- openapi.yaml (quote/pricing/voucher core) ---
  - name: LINE Bot
  - name: ProblemCard
  - name: WorkOrder
  - name: Onsite
  - name: Quote
  - name: Pricing  # v2.3 added per ADR-0062 Pricing Engine BC
  - name: Settlement
  - name: ContractTemplate (ADR-0060 V1)
  - name: DGS (ADR-0061 V1)
  - name: ChangeRequest (ADR-0046)
  - name: SOP Review
  - name: Admin / RBAC
  - name: Eval
  - name: Voucher (ADR-VCH-001/002 V1)  # v2.2 added per MoM #2
  # --- Auth (platform-level) ---
  - name: Auth
  # --- openapi-smart-lock-saas.yaml (Phase I MVP modules) ---
  - name: M01 Channel Intake
  - name: M02 Brand & Product Master
  - name: M03 ProblemCard (Bridge — see openapi.yaml)
  - name: M04 Customer-Site-Device
  - name: M05 Technician
  - name: M06 Dispatch
  - name: M07 Onsite
  - name: M11 AR / Payment
  - name: M13 Warranty
  - name: M14 Partner Portal
  - name: M15 Exception / ChangeRequest
  - name: M16 Consumer Tracking
  - name: M17 RBAC / Audit
  - name: M18 Config Governance (ADR-0067)
  - name: M18 Config Read API (ADR-0068 ACL)
  - name: A01 Chatbot Intake (debounce)
  - name: A03 ReAct Agent
  - name: A04 RAG Pipeline
  - name: A05 Guardrails
  - name: A06 ProblemCard Bridge
  - name: A07 Human Handoff
  - name: A08 Multimodal
  - name: A09 Eval & Observability
  - name: A11 Deployment Health
  - name: KB (Agent Knowledge Base)
  - name: Sync (ERP ↔ Chatbot)
  - name: ACL External Integration
  - name: Dashboard  # M01 Dashboard KPI tenant-scoped (CR-0003 P2-W1, FR-0021)
  - name: Reports  # P2-W1: tenant-scoped KPI / Revenue / Export (FR-0021)
  - name: Sentiment Alerts  # P2-W2: tenant-scoped Sentiment Alerts list+update (CR-0003 P2-W2, FR-0018/ADR-0048)
  - name: Notifications  # P2-W2: tenant-scoped Notifications list/update/bulk/mark-all-read (CR-0003 P2-W2, ADR-0012, FR-0018)
  - name: Conversations  # P2-W2: tenant-scoped Conversation CRUD + Messages (CR-0003 P2-W2, FR-0018)
  - name: M07 WorkOrder Ops  # P2-W4: tenant-scoped WorkOrder operational endpoints (CR-0003 P2-W4)
  - name: M11 Invoice  # P2-W5: tenant-scoped Invoice read-only (CR-0003 P2-W5, FR-0011)
  - name: M12 Settlement  # FR-0013 dual-sign reconciliation v2 (CR-0004 §8 HD-1~HD-3)
  - name: M14 Dispute  # FR-0013 dual-sign dispute v2 (CR-0004 §8 / disputes_v2.py)
  - name: Media  # P2-W6: tenant-scoped Media upload/serve/list (CR-0003 P2-W6)
  - name: M10 Inventory  # FR-0007 per-tenant 庫存狀態機 v2 (CR-0004 §8 / ADR-0052 / ADR-0053)
  - name: M11 Pricing Rules  # Track B S4: tenant-scoped Pricing Rules CRUD v2 (CR-0004 §8 C3 / ADR-0046)
  - name: M09 Data Corrections  # Track B S5: tenant-scoped DataCorrections review queue v2 (CR-0004 §8 / ADR-0029 / ADR-0030)

paths:
  ## --- LINE Bot intake / observability ---
  /webhook/line:
    post:
      tags: [LINE Bot]
      summary: LINE Messaging API webhook
      operationId: lineWebhook
      parameters:
        - name: X-Line-Signature
          in: header
          required: true
          schema: { type: string }
        - name: Idempotency-Key
          in: header
          required: true
          schema: { type: string }
          description: 24h dedup window (FR-0024)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/LineWebhookEvents' }
      responses:
        '200': { description: ack }
        '409': { description: 'duplicate idempotency key', content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '500': { description: 'will retry; DLQ if persistent' }

  ## --- ProblemCard ---
  /problem-cards:
    post:
      tags: [ProblemCard]
      summary: Create ProblemCard
      operationId: createProblemCard
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ProblemCardCreate' }
      responses:
        '201': { description: 'ProblemCard created', content: { application/json: { schema: { $ref: '#/components/schemas/ProblemCard' } } } }
        '422': { description: 'completeness < 0.85 → Exception module', content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
    get:
      tags: [ProblemCard]
      summary: List ProblemCards (cursor pagination)
      operationId: listProblemCards
      parameters:
        - { name: cursor, in: query, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer, maximum: 100, default: 20 } }
        - { name: tenant_id, in: query, required: true, schema: { type: string } }
      responses:
        '200': { description: 'OK', content: { application/json: { schema: { $ref: '#/components/schemas/ProblemCardList' } } } }
  /problem-cards/{id}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    get:
      tags: [ProblemCard]
      operationId: getProblemCard
      responses:
        '200': { description: 'OK', content: { application/json: { schema: { $ref: '#/components/schemas/ProblemCard' } } } }
    patch:
      tags: [ProblemCard]
      summary: 'Update PC (only state in {incomplete, draft})'
      operationId: updateProblemCard
      responses:
        '200': { description: 'OK', content: { application/json: { schema: { $ref: '#/components/schemas/ProblemCard' } } } }
        '422': { description: PC unique constraint violation (ADR-0036) }

  ## --- WorkOrder ---
  /work-orders:
    post:
      tags: [WorkOrder]
      summary: Create WorkOrder (AI draft + CS 1-click confirm per ADR-0031)
      operationId: createWorkOrder
      description: |
        v2.3.0 (ADR-0066) — `quote_id` precondition:
          - `quote_id IS NOT NULL` → server enforces `quote.state == customer_confirmed`
          - `quote_id IS NULL` → server enforces `pc.emergency_class IS NOT NULL`
            (急件 4 類 carve-out; retrospective audit required within 4h via
            POST /quotes/{id}/retrospective-audit)
          - Violation:
            * non-emergency missing quote → 425 QUOTE_REQUIRED_NON_EMERGENCY
            * quote.state != customer_confirmed → 409 QUOTE_STATE_INVALID
      parameters:
        - { name: Idempotency-Key, in: header, required: true, schema: { type: string } }
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WorkOrderCreate' }
      responses:
        '201': { description: created (address optional at this stage per ADR-0032) }
        '403': { description: AI tried to call directly (forbidden per ADR-0031) }
        '409':
          description: QUOTE_STATE_INVALID — quote_id provided but quote.state != customer_confirmed
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
        '425':
          description: QUOTE_REQUIRED_NON_EMERGENCY — non-emergency PC must have a customer_confirmed quote_id (ADR-0066)
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
  /work-orders/{id}/close:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    post:
      tags: [WorkOrder]
      summary: Close WorkOrder (422 hard gate on null address per ADR-0032)
      operationId: closeWorkOrder
      responses:
        '200': { description: completed }
        '422':
          description: address is null - hard gate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  ## --- Onsite (scope change 三件套) ---
  /work-orders/{id}/onsite/scope-change:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    post:
      tags: [Onsite]
      summary: Scope change with 三件套 (signature + photo + audit)
      operationId: onsiteScopeChange
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ScopeChange' }
      responses:
        '201': { description: created with audit }
        '422': { description: missing one of signature/photo/audit }
        '403': { description: amount tier violation (per ADR-0049) }

  ## --- Pricing Engine (ADR-0062 — internal-only) ---
  /pricing/calculate:
    post:
      tags: [Pricing]
      summary: 計算報價金額（internal-only，給 quote draft 用）
      operationId: pricingCalculate
      description: |
        ADR-0062 Pricing Engine BC.
        Idempotent + safe-to-retry by deterministic hash
        `sha256(pc_id + contract_template_id + distance_tier + material_class + rule_version)`.
        Server uses the hash as 5min TTL cache key.
        Response headers carry `X-Rule-Version` + `X-Calc-Hash`.
        Internal-only — only server-side may call; LIFF reads the `quote.amount_breakdown`
        snapshot rather than re-calling this endpoint.
      parameters:
        - { name: Idempotency-Key, in: header, required: false, schema: { type: string }, description: 'optional; server falls back to deterministic hash cache' }
        - { name: traceparent, in: header, required: false, schema: { type: string }, description: 'W3C trace context — required for quote lifecycle telemetry (v2.3 OTel hook)' }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [pc_id, tenant_id]
              properties:
                pc_id: { type: string }
                tenant_id: { type: string }
                contract_template_id: { type: string, nullable: true }
                distance_tier:
                  type: string
                  enum: [same_zone, cross_zone, remote]
                material_class: { type: string }
      responses:
        '200':
          description: 計算成功
          headers:
            X-Rule-Version:
              schema: { type: string }
              description: pricing_rule version used
            X-Calc-Hash:
              schema: { type: string }
              description: deterministic input hash (cache key)
          content:
            application/json:
              schema:
                type: object
                required: [base_amount, travel_fee, material_cost, total, snapshot_hash, engine_self_check_passed]
                properties:
                  base_amount: { type: number }
                  travel_fee: { type: number }
                  material_cost: { type: number }
                  emergency_factor: { type: number, nullable: true }
                  total: { type: number }
                  breakdown:
                    type: array
                    items: { type: object }
                  snapshot_hash:
                    type: string
                    description: 'sha256 of the frozen pricing_rule_snapshot used for this calc'
                  engine_self_check_passed:
                    type: boolean
                    description: 'engine internal invariant check (ADR-0062); required true before quote can be sent (gate per ARCH-C3)'
        '403':
          description: caller not allowed (internal-only)
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
        '422':
          description: PRICING_ENGINE_DOWN_NO_OVERRIDE — engine self-check failed and no manual override path here
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  ## --- Quote lifecycle (ADR-0062 ~ 0066) ---
  /quotes:
    post:
      tags: [Quote]
      summary: 建立 quote draft（呼叫 pricing engine + freeze rule snapshot）
      operationId: createQuote
      description: |
        ADR-0062 Pricing Engine BC + ADR-0063 AI Utterance Boundary.
        Server-side: internally invokes /pricing/calculate, then freezes the result into
        `quote.amount_breakdown` + `quote.snapshot_hash`.
        AI CANNOT call this endpoint directly; enforced at API layer via `created_by_role`
        (must be `customer_service`). Calls with `created_by_role=ai_agent` → 403
        AI_FORBIDDEN_QUOTE_CREATE.
        Manual `manual_amount_override` is allowed only for customer_service and must
        be accompanied by `override_reason`; both are appended to audit_trail.
      parameters:
        - { name: Idempotency-Key, in: header, required: true, schema: { type: string } }
        - { name: traceparent, in: header, required: false, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [pc_id, tenant_id, created_by_role]
              properties:
                pc_id: { type: string }
                tenant_id: { type: string }
                created_by_role:
                  type: string
                  enum: [customer_service]
                  description: 'AI forbidden (ADR-0063)'
                manual_amount_override:
                  type: number
                  nullable: true
                  description: '客服可 override，需 audit_trail 記錄'
                override_reason:
                  type: string
                  nullable: true
                  description: required when manual_amount_override is set
                supersedes_quote_id:
                  type: string
                  nullable: true
                  description: 're-version self-FK to the previous quote (ADR-0065)'
      responses:
        '201':
          description: created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Quote' }
        '403':
          description: AI_FORBIDDEN_QUOTE_CREATE — created_by_role must be customer_service
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
        '422':
          description: PC_NOT_CONFIRMED or PRICING_ENGINE_DOWN_NO_OVERRIDE
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  /quotes/{id}:approve:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    post:
      tags: [Quote]
      summary: 客服主管 approve quote（state → internal_approved）
      operationId: approveQuote
      description: |
        Requires customer_service_supervisor role.
        Transitions quote.state from `draft` to `internal_approved`.
        Pre-gate for /quotes/{id}:send-to-customer (per ARCH-C3:
        `state=internal_approved AND engine_self_check_passed=true`).
      parameters:
        - { name: Idempotency-Key, in: header, required: true, schema: { type: string } }
        - { name: traceparent, in: header, required: false, schema: { type: string } }
      responses:
        '200': { description: approved }
        '403':
          description: INSUFFICIENT_AUTHORITY — caller is not customer_service_supervisor
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
        '409':
          description: QUOTE_STATE_INVALID — quote is not in `draft` state
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  /quotes/{id}:send-to-customer:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    post:
      tags: [Quote]
      summary: 對客戶送出 quote (state → customer_sent)
      operationId: sendQuoteToCustomer
      description: |
        ADR-0063 AI Utterance Boundary enforcement. Server-side rules:
          - `sender_role=ai_agent` → 403 AI_FORBIDDEN_FINAL_QUOTE
          - 保固期 / 建案 case AND sender_role != customer_service →
            403 AI_FORBIDDEN_WARRANTY_PROJECT (BR-Quote-003)
          - Quote must satisfy `state=internal_approved AND engine_self_check_passed=true`
            (ARCH-C3 dual gate); otherwise 425 QUOTE_NOT_CUSTOMER_SENT.
        Response carries a `flex_message_template_id` (server-generated) — AI / clients
        MUST NOT self-compose the NTD figure or message body; the template renders the
        amount from the frozen quote snapshot.
      parameters:
        - { name: Idempotency-Key, in: header, required: true, schema: { type: string } }
        - { name: traceparent, in: header, required: false, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [channel, sender_role]
              properties:
                channel:
                  type: string
                  enum: [liff, flex_one_tap]
                sender_role:
                  type: string
                  enum: [customer_service, customer_service_supervisor]
                  description: 'ai_agent forbidden (ADR-0063)'
      responses:
        '200':
          description: sent
          content:
            application/json:
              schema:
                type: object
                required: [flex_message_template_id, quote_id]
                properties:
                  quote_id: { type: string }
                  flex_message_template_id:
                    type: string
                    description: 'server-generated; AI cannot self-compose (ADR-0063)'
                  trace_id:
                    type: string
                    description: 'embedded in flex metadata for guardrail Eval anchor'
        '403':
          description: AI_FORBIDDEN_FINAL_QUOTE or AI_FORBIDDEN_WARRANTY_PROJECT
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
        '425':
          description: QUOTE_NOT_CUSTOMER_SENT — pre-gate (internal_approved + engine_self_check_passed) failed
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  /quotes/{id}/customer-confirm:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string } }
    post:
      tags: [Quote]
      summary: 客戶於 LIFF 確認 quote (state → customer_confirmed)
      operationId: customerConfirmQuote
      description: |
        ADR-0064 LIFF Token & Idempotency.
        `confirm_token` TTL = 48h (quote lifetime); expired token → 401 LIFF_TOKEN_EXPIRED.
        Idempotency-Key is REQUIRED so accidental double-tap on LIFF or flex one-tap
        retries do not double-confirm.
        Version conflict (the customer is confirming an older version) → 409
        QUOTE_VERSION_STALE; quote already expired (TTL passed) → 410 QUOTE_EXPIRED.
      parameters:
        - { name: Idempotency-Key, in: header, required: true, schema: { type: string } }
        - { name: traceparent, in: header, required: false, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/QuoteCustomerConfirm' }
      responses:
        '200':
          description: confirmed
          content: { application/json: { schema: { $ref: '#/components/schemas/Quote' } } }
        '401':
          description: LIFF_TOKEN_EXPIRED
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
        '409':
          description: QUOTE_VERSION_STALE — accepted_version != current quote.version
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
        '410':
          description: QUOTE_EXPIRED — quote 48h TTL passed
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
        '422':
          description: QUOTE_STATE_INVALID — quote is not in customer_sent state
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  /quotes/{id}/reject:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    post:
      tags: [Quote]
      summary: 客戶拒絕 quote (state → rejected)
      operationId: rejectQuote
      parameters:
        - { name: Idempotency-Key, in: header, required: true, schema: { type: string } }
        - { name: traceparent, in: header, required: false, schema: { type: string } }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason_code:
                  type: string
                  enum: [customer_rejected, customer_unreachable, quote_expired]
                comment: { type: string, nullable: true }
      responses:
        '200': { description: rejected }
        '409':
          description: QUOTE_STATE_INVALID
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  /quotes/{id}:supersede:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    post:
      tags: [Quote]
      summary: re-version quote (建立新 version, state=draft, self-FK supersedes_quote_id)
      operationId: supersedeQuote
      description: |
        ADR-0065 Quote Re-version Self-FK.
        Creates a NEW quote row (new `id`, `version = previous.version + 1`,
        `supersedes_quote_id = previous.id`). The previous quote stays addressable;
        version chain is reconstructable via the self-FK.
      parameters:
        - { name: Idempotency-Key, in: header, required: true, schema: { type: string } }
        - { name: traceparent, in: header, required: false, schema: { type: string } }
      responses:
        '200':
          description: superseded
          content:
            application/json:
              schema:
                type: object
                required: [new_quote_id, version]
                properties:
                  new_quote_id: { type: string }
                  version: { type: integer }
                  supersedes_quote_id: { type: string }
        '409':
          description: QUOTE_STATE_INVALID — quote already superseded or in terminal state
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  /quotes/{id}/retrospective-audit:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    post:
      tags: [Quote]
      summary: 急件事後補 quote audit (ADR-0066)
      operationId: retrospectiveQuoteAudit
      description: |
        ADR-0066 Emergency Retrospective Audit.
        For pc.emergency_class IN 4 categories: onsite 完工後 4h 內客服必須補建立 quote 並
        完成 retrospective audit。逾時 → 410 AUDIT_WINDOW_EXPIRED + alert SRE / CS supervisor。
        Audit success → `quote.state = retrospective_audit_only` (a terminal state used
        purely for ledger reconciliation; does not gate WO creation since the WO was
        already created under the emergency carve-out).
      parameters:
        - { name: Idempotency-Key, in: header, required: true, schema: { type: string } }
        - { name: traceparent, in: header, required: false, schema: { type: string } }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [audited_by_role]
              properties:
                audited_by_role:
                  type: string
                  enum: [customer_service, customer_service_supervisor]
                amount_breakdown: { type: object }
                audit_note: { type: string }
      responses:
        '200':
          description: audit complete; quote.state → retrospective_audit_only
          content: { application/json: { schema: { $ref: '#/components/schemas/Quote' } } }
        '409':
          description: URGENT_WINDOW_EXPIRED — outside the 4h audit window but still recoverable; see runbook
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
        '410':
          description: AUDIT_WINDOW_EXPIRED — 4h audit window has passed; alert fired
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  ## --- Contract Template (ADR-0060 — V1 draft-state CRUD only) ---
  /contract-templates:
    post:
      tags: ['ContractTemplate (ADR-0060 V1)']
      summary: Create Contract Template (draft state)
      operationId: createContractTemplate
      parameters: [{ name: Idempotency-Key, in: header, required: true, schema: { type: string } }]
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ContractTemplate' }
      responses:
        '201': { description: 'Contract template created', content: { application/json: { schema: { $ref: '#/components/schemas/ContractTemplate' } } } }
        '403':
          description: CROSS_TENANT_WRITE
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
        '409':
          description: CONTRACT_VERSION_CONFLICT
        '422':
          description: SCOPE_OVERLAP or schema validation failed
    get:
      tags: ['ContractTemplate (ADR-0060 V1)']
      summary: List Contract Templates (cursor pagination)
      operationId: listContractTemplates
      parameters:
        - { name: cursor, in: query, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer, maximum: 100, default: 20 } }
        - { name: tenant_id, in: query, required: true, schema: { type: string } }
        - { name: partner_id, in: query, schema: { type: string } }
      responses:
        '200': { description: 'OK', content: { application/json: { schema: { $ref: '#/components/schemas/ContractTemplateList' } } } }
  /contract-templates/{id}:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    get:
      tags: ['ContractTemplate (ADR-0060 V1)']
      operationId: getContractTemplate
      responses:
        '200': { description: 'OK', content: { application/json: { schema: { $ref: '#/components/schemas/ContractTemplate' } } } }
    patch:
      tags: ['ContractTemplate (ADR-0060 V1)']
      summary: 'PATCH only allowed in state=draft (additive-only)'
      operationId: updateContractTemplate
      responses:
        '200': { description: 'OK', content: { application/json: { schema: { $ref: '#/components/schemas/ContractTemplate' } } } }
        '403': { description: not in draft state (V2 uses :action endpoints) }
    delete:
      tags: ['ContractTemplate (ADR-0060 V1)']
      summary: 'DELETE only allowed in state=draft (soft delete)'
      operationId: deleteContractTemplate
      responses:
        '204': { description: soft deleted }

  ## V2 sub-resource actions (placeholder for V2 — NOT IMPLEMENTED IN V1)
  # /contract-templates/{id}:submit       — V2
  # /contract-templates/{id}:approve      — V2
  # /contract-templates/{id}:publish      — V2
  # /contract-templates/{id}:retire       — V2
  # /contract-templates/{id}:clone-version — V2
  # /contract-templates/{id}:diff          — V2

  ## --- DGS (ADR-0061 — V1 P0-critical) ---
  /dgs/evidence/{id}/purge:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    post:
      tags: ['DGS (ADR-0061 V1)']
      summary: Two-phase purge (T0 crypto-shred DEK + soft-delete)
      operationId: dgsEvidencePurge
      security: [{ bearerAuth: [], dgsExecutor: [] }]
      parameters: [{ name: Idempotency-Key, in: header, required: true, schema: { type: string } }]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string, enum: [retention_expired, gdpr_forget, manual] }
                requested_by: { type: string }
      responses:
        '202': { description: purge queued (outbox tx written) }
        '403': { description: legal_hold active OR not dgs_executor }
        '409': { description: already in pending_purge state }

  /dgs/evidence/{id}/legal-hold:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    post:
      tags: ['DGS (ADR-0061 V1)']
      summary: Flip legal_hold (push invalidation ≤ 5s)
      operationId: dgsEvidenceLegalHold
      security: [{ bearerAuth: [], legalRole: [] }]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [legal_hold, hold_reason_id]
              properties:
                legal_hold: { type: boolean }
                hold_reason_id: { type: string }
      responses:
        '200': { description: flip persisted + invalidation dispatched }

  /dgs/forget:
    post:
      tags: ['DGS (ADR-0061 V1)']
      summary: GDPR forget request
      operationId: dgsForget
      security: [{ bearerAuth: [], dpoOrDataSubject: [] }]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [customer_id]
              properties:
                customer_id: { type: string }
                requested_by: { type: string }
      responses:
        '202': { description: forget queued (7d SLA) }
        '423':
          description: 'legal_hold blocks forget; customer notice required'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerNotice'

  /dgs/policy/version:
    get:
      tags: ['DGS (ADR-0061 V1)']
      summary: Get current Rego policy version + hash
      operationId: getDgsPolicyVersion
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                type: object
                properties:
                  version: { type: string, example: 'v1.0.0' }
                  hash: { type: string }
                  signed_by: { type: array, items: { type: string }, example: ['legal', 'dpo'] }
                  effective_at: { type: string, format: date-time }

  ## --- ChangeRequest (ADR-0046) ---
  /change-requests:
    post:
      tags: ['ChangeRequest (ADR-0046)']
      summary: Apply a change request (policy/price/rbac/sla/template/contract)
      operationId: createChangeRequest
      parameters: [{ name: Idempotency-Key, in: header, required: true, schema: { type: string } }]
      responses:
        '201': { description: 'Change request created', content: { application/json: { schema: { $ref: '#/components/schemas/ChangeRequest' } } } }
  /change-requests/{id}/approve:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    post:
      tags: ['ChangeRequest (ADR-0046)']
      operationId: approveChangeRequest
      responses: { '200': { description: approved with audit } }

  ## --- SOP Review (FR-NEW-5 family reviewer SLA) ---
  /sops/{id}/review/dual:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    post:
      tags: [SOP Review]
      summary: 'Dual review (CS supervisor + Domain Expert)'
      operationId: sopDualReview
      responses: { '200': { description: dual review complete } }
  /sops/{id}/review/family:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    post:
      tags: [SOP Review]
      summary: 'Family Reviewer 100% gate (SLA 24h)'
      operationId: sopFamilyReview
      responses:
        '200': { description: approved or rejected }
        '425': { description: 'too early - dual review not done' }

  ## --- AI Forbidden Eval ---
  /eval/forbidden/run:
    post:
      tags: [Eval]
      summary: Run AI Forbidden 200-question Eval (block-deploy gate per ADR-0047)
      operationId: runForbiddenEval
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                type: object
                properties:
                  pass_rate: { type: number }
                  block_deploy: { type: boolean, description: 'true if pass_rate < 0.95' }
                  details: { type: array, items: { type: object } }

  ## --- Voucher (ADR-VCH-001/002 V1) — v2.2 added per MoM #2 ---
  ## Design notes (sd):
  ## - CQRS: write-side via journal_entry trigger (no public POST)
  ## - read-side: GET single + GET list (cursor) + V2.1 export endpoint preview
  ## - Append-only contract (no PATCH/DELETE); void via dedicated :void sub-resource action
  ## - Hash chain enforced at DB; API surface is透明 (no hash exposure unless explicitly requested)
  ## - Platform = keeper (per ADR-VCH-001); voucher.issuer_party != 'platform' for sub-contractor flows
  /vouchers/{id}:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    get:
      tags: ['Voucher (ADR-VCH-001/002 V1)']
      summary: Read single voucher
      operationId: getVoucher
      responses:
        '200': { description: 'OK', content: { application/json: { schema: { $ref: '#/components/schemas/Voucher' } } } }
        '403': { description: CROSS_TENANT_READ }
        '404': { description: not found }
        '410': { description: VOUCHER_VOIDED, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
  /vouchers:
    get:
      tags: ['Voucher (ADR-VCH-001/002 V1)']
      summary: List vouchers (cursor pagination, max 100)
      operationId: listVouchers
      parameters:
        - { name: cursor, in: query, schema: { type: string } }
        - { name: period, in: query, required: true, schema: { type: string, pattern: '^\d{4}-\d{2}$' }, description: 'YYYY-MM' }
        - { name: tenant_id, in: query, required: true, schema: { type: string } }
        - { name: issuer_party, in: query, schema: { type: string, enum: [platform, locksmith, brand] } }
        - { name: limit, in: query, schema: { type: integer, maximum: 100, default: 20 } }
      responses:
        '200': { description: 'OK', content: { application/json: { schema: { $ref: '#/components/schemas/VoucherList' } } } }
        '422': { description: invalid period format }
  /vouchers/{id}/void:
    parameters: [{ name: id, in: path, required: true, schema: { type: string } }]
    post:
      tags: ['Voucher (ADR-VCH-001/002 V1)']
      summary: Void voucher (writes red entry; original row never modified)
      operationId: voidVoucher
      security: [{ bearerAuth: [], keeperRole: [] }]
      parameters: [{ name: Idempotency-Key, in: header, required: true, schema: { type: string } }]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string, enum: [error_correction, customer_dispute, tax_adjust] }
                comment: { type: string }
      responses:
        '201':
          description: Red entry voucher created (new voucher_no with reverses_voucher_id FK)
          content: { application/json: { schema: { $ref: '#/components/schemas/Voucher' } } }
        '409': { description: already voided }
        '410': { description: original already voided }

  ## V2.1 preview (NOT IMPLEMENTED IN V1; schema reserved per ADR-VCH-002)
  /vouchers/export:
    get:
      tags: ['Voucher (ADR-VCH-001/002 V1)']
      summary: '[V2.1 preview] Async export job for ERP / 電子發票 ED4'
      operationId: exportVouchers
      security: [{ bearerAuth: [], keeperRole: [] }]
      parameters:
        - { name: format, in: query, required: true, schema: { type: string, enum: [csv, json, ed4] } }
        - { name: period, in: query, required: true, schema: { type: string, pattern: '^\d{4}-\d{2}$' } }
      responses:
        '202':
          description: Job queued (async); poll /exports/{job_id} for signed URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id: { type: string }
                  estimated_ready_at: { type: string, format: date-time }
        '501': { description: 'V2.1 only; V1 returns Not Implemented' }
  /exports/{job_id}:
    parameters: [{ name: job_id, in: path, required: true, schema: { type: string } }]
    get:
      tags: ['Voucher (ADR-VCH-001/002 V1)']
      summary: '[V2.1 preview] Poll export job; returns signed URL (15min TTL) when ready'
      operationId: getExportJob
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, enum: [pending, ready, expired, failed] }
                  signed_url: { type: string, nullable: true }
                  ttl_seconds: { type: integer }
                  audit_log_hash_head: { type: string, description: 'Latest hash chain head at export time, for downstream verify' }


  ## ============================================================
  ## Auth — platform-level (Q6: collected from api/routers/auth.py)
  ## ============================================================
  /auth/login:
    post:
      tags: [Auth]
      summary: Admin login — issues access + refresh token pair
      operationId: loginAdmin
      description: |
        Authenticates users with roles `admin` or `reviewer`.
        Returns JWT access token (TTL=1h) and opaque refresh token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string, minLength: 8 }
      responses:
        '200':
          description: Authenticated; tokens issued
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TokenPair' }
        '401':
          description: Invalid credentials
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
        '403':
          description: Role not allowed (not admin / reviewer)
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Exchange refresh token for new access token
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token: { type: string }
      responses:
        '200':
          description: New access token issued
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TokenPair' }
        '401':
          description: Refresh token expired or revoked
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  /auth/logout:
    post:
      tags: [Auth]
      summary: Revoke access + refresh tokens (logout)
      operationId: logout
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                refresh_token: { type: string, nullable: true }
      responses:
        '204': { description: Logged out; tokens invalidated }
        '401':
          description: Bearer token missing or expired
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  /auth/change-password:
    post:
      tags: [Auth]
      summary: Change password (requires current password verification)
      operationId: changePassword
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [current_password, new_password]
              properties:
                current_password: { type: string, minLength: 8, maxLength: 72 }
                new_password: { type: string, minLength: 8, maxLength: 72 }
      responses:
        '204': { description: Password updated }
        '401':
          description: Current password incorrect or token expired
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
        '422':
          description: Password policy violation
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  /auth/admin-reset-password:
    post:
      tags: [Auth]
      summary: Admin resets a user's password (returns a temp password; no email)
      description: >-
        管理員代為重設（2026-06-10 會議 Action #7）。admin 限定,限同租戶。
        重設目標 email 的密碼為隨機臨時密碼,回傳明文供轉達;使用者登入後自行
        change-password 改回。免 email 基礎設施。
      operationId: adminResetPassword
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        '200':
          description: Password reset; temp password returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      email: { type: string, format: email }
                      temp_password: { type: string }
        '403':
          description: Caller is not an admin
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
        '404':
          description: No user with that email in this tenant
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  /technicians/login:
    post:
      tags: [Auth]
      summary: Technician login — issues access + refresh token pair
      operationId: loginTechnician
      description: |
        Authenticates users with role `technician`.
        CR-0099: `identifier` accepts a Taiwan mobile number (`09xxxxxxxx`) OR an email.
        A mobile matching more than one account → 409 (caller must use email).
        Returns JWT access token (TTL=1h) and opaque refresh token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [identifier, password]
              properties:
                identifier:
                  type: string
                  minLength: 1
                  maxLength: 255
                  description: Mobile number (09xxxxxxxx) or email
                password: { type: string, minLength: 8 }
      responses:
        '200':
          description: Authenticated; tokens issued
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TokenPair' }
        '401':
          description: Invalid credentials
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
        '403':
          description: Role not allowed (not technician)
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
        '409':
          description: AMBIGUOUS_IDENTIFIER — mobile matches multiple accounts; use email
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  ## ============================================================
  ## Phase I MVP paths — merged from openapi-smart-lock-saas.yaml
  ## ============================================================

  # M01 Channel Intake
  /tenants/{tenantId}/channels:
    parameters:
      - $ref: '#/components/parameters/TenantPath'
      - $ref: '#/components/parameters/XTenantId'
    get:
      tags: [M01 Channel Intake]
      summary: List active inbound channels (line / web / hotline)
      operationId: listChannels
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ChannelList' }
  /tenants/{tenantId}/channels/{channelId}/status:
    parameters:
      - $ref: '#/components/parameters/TenantPath'
      - { name: channelId, in: path, required: true, schema: { type: string } }
    get:
      tags: [M01 Channel Intake]
      summary: Channel HA status (FR-0024 + A11)
      operationId: getChannelStatus
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ChannelStatus' }

  # M02 Brand & Product Master
  /tenants/{tenantId}/brands:
    parameters: [{ $ref: '#/components/parameters/TenantPath' }]
    get:
      tags: [M02 Brand & Product Master]
      summary: List brands (with brand_scope filter)
      operationId: listBrands
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BrandList' }
  /tenants/{tenantId}/brands/{brandId}/models:
    parameters:
      - $ref: '#/components/parameters/TenantPath'
      - { name: brandId, in: path, required: true, schema: { type: string } }
    get:
      tags: [M02 Brand & Product Master]
      summary: List models under brand
      operationId: listBrandModels
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ModelList' }
    post:
      tags: [M02 Brand & Product Master]
      summary: Register new model
      operationId: createBrandModel
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ModelCreate' }
      responses:
        '201':
          description: 'Model created'
          content: { application/json: { schema: { $ref: '#/components/schemas/Model' } } }
        '409': { $ref: '#/components/responses/StateConflict' }
        '422': { $ref: '#/components/responses/SchemaInvalid' }

  # M04 Customer / Site / Device
  /tenants/{tenantId}/customers:
    parameters: [{ $ref: '#/components/parameters/TenantPath' }]
    get:
      tags: [M04 Customer-Site-Device]
      summary: List customers (PII redacted)
      operationId: listCustomers
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CustomerList' }
    post:
      tags: [M04 Customer-Site-Device]
      summary: Create customer (PII encrypted at rest)
      operationId: createCustomer
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CustomerCreate' }
      responses:
        '201': { description: 'Customer created', content: { application/json: { schema: { $ref: '#/components/schemas/Customer' } } } }
  /tenants/{tenantId}/customers/{customerId}/sites:
    parameters:
      - $ref: '#/components/parameters/TenantPath'
      - { name: customerId, in: path, required: true, schema: { type: string } }
    get:
      tags: [M04 Customer-Site-Device]
      summary: List sites for customer
      operationId: listCustomerSites
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SiteList' }
    post:
      tags: [M04 Customer-Site-Device]
      summary: Create site
      operationId: createCustomerSite
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SiteCreate' }
      responses:
        '201': { description: 'Site created', content: { application/json: { schema: { $ref: '#/components/schemas/Site' } } } }
  /tenants/{tenantId}/sites/{siteId}/devices:
    parameters:
      - $ref: '#/components/parameters/TenantPath'
      - { name: siteId, in: path, required: true, schema: { type: string } }
    post:
      tags: [M04 Customer-Site-Device]
      summary: Register device (smart lock) — ADR-0053 serial required for main lock + >1000 NTD
      operationId: registerDevice
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DeviceCreate' }
      responses:
        '201': { description: 'Device registered', content: { application/json: { schema: { $ref: '#/components/schemas/Device' } } } }
        '422':
          description: SERIAL_REQUIRED — main lock or > NTD 1000 must carry serial (ADR-0053)
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
  /tenants/{tenantId}/devices/{deviceId}/warranty:
    parameters:
      - $ref: '#/components/parameters/TenantPath'
      - { name: deviceId, in: path, required: true, schema: { type: string } }
    get:
      tags: [M13 Warranty]
      summary: Get device warranty (mode + start_date + expiry)
      operationId: getDeviceWarranty
      description: |
        ADR-0044 warranty_mode enum:
        - `purchase` — 購買日起算
        - `handover` — 交屋日起算
        - `activation` — 啟用日起算
        - `contract` — 合約日起算
        - `manual_override` — 客服手動指定（須 reason + audit）
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DeviceWarranty' }
    patch:
      tags: [M13 Warranty]
      summary: Adjust warranty (manual_override only; goes through ChangeRequest)
      operationId: patchDeviceWarranty
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DeviceWarrantyPatch' }
      responses:
        '202':
          description: change_request created
          content: { application/json: { schema: { $ref: '#/components/schemas/ChangeRequestRef' } } }
        '403': { $ref: '#/components/responses/Forbidden' }

  # M05 Technician
  /tenants/{tenantId}/technicians:
    parameters: [{ $ref: '#/components/parameters/TenantPath' }]
    get:
      tags: [M05 Technician]
      summary: List technicians (active + suspended)
      operationId: listTechnicians
      parameters:
        - { name: status, in: query, schema: { type: string, enum: [active, onboarding, suspended, terminated] } }
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: 'OK'
          content: { application/json: { schema: { $ref: '#/components/schemas/TechnicianList' } } }
    post:
      tags: [M05 Technician]
      summary: Onboard technician (FR-0044)
      operationId: createTechnician
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TechnicianCreate' }
      responses:
        '201': { description: 'Technician onboarded', content: { application/json: { schema: { $ref: '#/components/schemas/Technician' } } } }
  /tenants/{tenantId}/technicians/{techId}:suspend:
    parameters:
      - $ref: '#/components/parameters/TenantPath'
      - { name: techId, in: path, required: true, schema: { type: string } }
    post:
      tags: [M05 Technician]
      summary: Suspend technician (cumulative cancel ≥ 2/month per ADR-0102 §C tech-initiated)
      operationId: suspendTechnician
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/XInitiator'
        - $ref: '#/components/parameters/XApprover'
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SuspensionRequest' }
      responses:
        '200': { description: suspended }
        '403': { $ref: '#/components/responses/Forbidden' }

  # M06 Dispatch
  /tenants/{tenantId}/dispatch:plan:
    parameters: [{ $ref: '#/components/parameters/TenantPath' }]
    post:
      tags: [M06 Dispatch]
      summary: Plan dispatch for a WorkOrder (FR-0003 / ADR-0045)
      operationId: planDispatch
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DispatchPlanRequest' }
      responses:
        '200':
          description: 'OK'
          content: { application/json: { schema: { $ref: '#/components/schemas/DispatchPlanResponse' } } }
  /tenants/{tenantId}/work-orders/{woId}:assign:
    parameters:
      - $ref: '#/components/parameters/TenantPath'
      - { name: woId, in: path, required: true, schema: { type: string } }
    post:
      tags: [M06 Dispatch]
      summary: Assign technician to WO (manual or post-plan)
      operationId: assignWorkOrder
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/XInitiator'
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AssignRequest' }
      responses:
        '200': { description: 'OK', content: { application/json: { schema: { $ref: '#/components/schemas/WorkOrderRef' } } } }
        '409': { $ref: '#/components/responses/StateConflict' }
  /tenants/{tenantId}/work-orders/{woId}:accept:
    parameters:
      - $ref: '#/components/parameters/TenantPath'
      - { name: woId, in: path, required: true, schema: { type: string } }
    post:
      tags: [M06 Dispatch]
      summary: Technician accepts assignment (FR-0005 / SLA 10/5 min)
      operationId: acceptWorkOrder
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      responses:
        '200': { description: 'OK', content: { application/json: { schema: { $ref: '#/components/schemas/WorkOrderRef' } } } }
        '410':
          description: SLA_WINDOW_EXPIRED — accept window closed; WO re-pooled
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  # M07 Onsite
  /tenants/{tenantId}/work-orders/{woId}/onsite/arrival:
    parameters:
      - $ref: '#/components/parameters/TenantPath'
      - { name: woId, in: path, required: true, schema: { type: string } }
    post:
      tags: [M07 Onsite]
      summary: Mark technician arrived (FR-0006, GPS + timestamp evidence)
      operationId: onsiteArrival
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ArrivalEvent' }
      responses:
        '201': { description: 'Arrival recorded', content: { application/json: { schema: { $ref: '#/components/schemas/Onsite' } } } }
  /tenants/{tenantId}/work-orders/{woId}/onsite/completion:
    parameters:
      - $ref: '#/components/parameters/TenantPath'
      - { name: woId, in: path, required: true, schema: { type: string } }
    post:
      tags: [M07 Onsite]
      summary: Submit completion sign + photos (FR-0009)
      operationId: onsiteCompletion
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CompletionSubmit' }
      responses:
        '201':
          description: 'Completion submitted'
          content: { application/json: { schema: { $ref: '#/components/schemas/CompletionResult' } } }
        '422':
          description: ADDRESS_REQUIRED_FOR_CLOSE / QUOTE_NOT_CUSTOMER_CONFIRMED / EVIDENCE_INCOMPLETE
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  # M11 AR / Payment
  /tenants/{tenantId}/work-orders/{woId}/cancel:
    parameters:
      - $ref: '#/components/parameters/TenantPath'
      - { name: woId, in: path, required: true, schema: { type: string } }
    post:
      tags: [M11 AR / Payment]
      summary: Cancel WorkOrder — 6-stage cancellation v2 (ADR-0102)
      operationId: cancelWorkOrder
      description: |
        Server-side computes `cancellation_stage` (S1/S1.5/S2/S3/S4/S5) from WO state machine.
        Caller submits `reason_code` (from `/m18/configs/cancellation_reason_codes` lookup).
        `goodwill_waiver=true` (CS override per ADR-0102 §A) downgrades fee to 0 + writes audit.
        Tech-initiated cancel takes alternative branch (`initiator_role=technician`).
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/XInitiator'
        - $ref: '#/components/parameters/XApprover'
        - $ref: '#/components/parameters/XExecutor'
        - $ref: '#/components/parameters/XConfigVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CancellationRequest' }
      responses:
        '200':
          description: Cancelled; ledger entries posted
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CancellationResult' }
        '403':
          description: SOD_VIOLATION or INSUFFICIENT_AUTHORITY
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
        '409':
          description: WO_STATE_INVALID (cannot cancel completed)
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
        '422':
          description: REASON_CODE_UNKNOWN or EVIDENCE_MISSING
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  /tenants/{tenantId}/refunds:
    parameters: [{ $ref: '#/components/parameters/TenantPath' }]
    post:
      tags: [M11 AR / Payment]
      summary: Submit refund request (ADR-0040 v2 — 5-tier SoD)
      operationId: createRefund
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/XInitiator'
        - $ref: '#/components/parameters/XApprover'
        - $ref: '#/components/parameters/XExecutor'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RefundRequest' }
      responses:
        '202':
          description: refund accepted into approval chain (async)
          content: { application/json: { schema: { $ref: '#/components/schemas/RefundReceipt' } } }
        '403':
          description: SOD_VIOLATION / INSUFFICIENT_AUTHORITY
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
        '422':
          description: REFUND_CLASS_REQUIRED / TIER_AMOUNT_INVALID
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
  /tenants/{tenantId}/refunds/{refundId}:
    parameters:
      - $ref: '#/components/parameters/TenantPath'
      - { name: refundId, in: path, required: true, schema: { type: string } }
    get:
      tags: [M11 AR / Payment]
      summary: Get refund status (approval chain + ledger trace)
      operationId: getRefund
      responses:
        '200': { description: 'OK', content: { application/json: { schema: { $ref: '#/components/schemas/Refund' } } } }

  /tenants/{tenantId}/payments:
    parameters: [{ $ref: '#/components/parameters/TenantPath' }]
    post:
      tags: [M11 AR / Payment]
      summary: Record consumer payment (FR-0011 — onsite cash / link / bank transfer)
      operationId: recordPayment
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PaymentRecord' }
      responses:
        '201': { description: 'Payment recorded', content: { application/json: { schema: { $ref: '#/components/schemas/Payment' } } } }

  # M13 Warranty Claim
  /tenants/{tenantId}/warranty-claims:
    parameters: [{ $ref: '#/components/parameters/TenantPath' }]
    post:
      tags: [M13 Warranty]
      summary: File warranty claim (FR-0015)
      operationId: createWarrantyClaim
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WarrantyClaimCreate' }
      responses:
        '201': { description: 'Warranty claim created', content: { application/json: { schema: { $ref: '#/components/schemas/WarrantyClaim' } } } }
        '422':
          description: WARRANTY_EXPIRED or DEVICE_NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  # M14 Partner Portal
  /tenants/{tenantId}/partners/{partnerId}/dashboard:
    x-phase: I-readonly
    parameters:
      - $ref: '#/components/parameters/TenantPath'
      - { name: partnerId, in: path, required: true, schema: { type: string } }
    get:
      tags: [M14 Partner Portal]
      summary: Partner dashboard (scope = own brand only — ADR-0043)
      operationId: getPartnerDashboard
      responses:
        '200':
          description: 'OK'
          content: { application/json: { schema: { $ref: '#/components/schemas/PartnerDashboard' } } }
        '403':
          description: SCOPE_VIOLATION — partner can only read own brand
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  # M15 Exception / ChangeRequest
  /tenants/{tenantId}/exceptions:inbox:
    parameters: [{ $ref: '#/components/parameters/TenantPath' }]
    get:
      tags: [M15 Exception / ChangeRequest]
      summary: Exception approval inbox (FR-0049)
      operationId: listExceptionInbox
      parameters:
        - { name: queue, in: query, schema: { type: string, enum: [pending, escalated, all] } }
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ExceptionList' }
  /tenants/{tenantId}/exceptions/{exceptionId}:approve:
    parameters:
      - $ref: '#/components/parameters/TenantPath'
      - { name: exceptionId, in: path, required: true, schema: { type: string } }
    post:
      tags: [M15 Exception / ChangeRequest]
      summary: Approve / reject exception (with audit trail)
      operationId: approveException
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/XInitiator'
        - $ref: '#/components/parameters/XApprover'
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ExceptionDecision' }
      responses:
        '200': { description: decided }
        '403': { $ref: '#/components/responses/Forbidden' }

  # M16 Consumer Tracking
  /consumer/work-orders/{trackingToken}:
    parameters:
      - { name: trackingToken, in: path, required: true, schema: { type: string }, description: 'opaque token (signed JWT); no tenant_id exposed' }
    get:
      tags: [M16 Consumer Tracking]
      summary: Consumer-facing case status (FR-0022)
      operationId: getConsumerWorkOrder
      security: []
      description: |
        Unauthenticated endpoint; identification via signed tracking token (TTL=30d).
        Returns sanitized WO state + ETA + tech masked name (李師傅), no PII bleed.
      responses:
        '200':
          description: 'OK'
          content: { application/json: { schema: { $ref: '#/components/schemas/ConsumerWOView' } } }
        '404': { description: token invalid or expired }

  # M17 RBAC / Audit
  /tenants/{tenantId}/rbac/roles:
    parameters: [{ $ref: '#/components/parameters/TenantPath' }]
    get:
      tags: [M17 RBAC / Audit]
      summary: List role matrix (4-tier RBAC, ADR-0042; 18 roles)
      operationId: getRoleMatrix
      responses:
        '200':
          description: 'OK'
          content: { application/json: { schema: { $ref: '#/components/schemas/RoleMatrix' } } }
    put:
      tags: [M17 RBAC / Audit]
      summary: Update role matrix (via ChangeRequest)
      operationId: updateRoleMatrix
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RoleMatrixUpdate' }
      responses:
        '202': { description: change_request created; effective on effective_date }
  /tenants/{tenantId}/audit/events:
    parameters: [{ $ref: '#/components/parameters/TenantPath' }]
    get:
      tags: [M17 RBAC / Audit]
      summary: Query audit log (FR-0020)
      operationId: listAuditEvents
      parameters:
        - { name: actor, in: query, schema: { type: string } }
        - { name: event_type, in: query, schema: { type: string } }
        - { name: from, in: query, schema: { type: string, format: date-time } }
        - { name: to, in: query, schema: { type: string, format: date-time } }
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200': { description: 'OK', content: { application/json: { schema: { $ref: '#/components/schemas/AuditEventList' } } } }
  /tenants/{tenantId}/audit/exports:
    parameters: [{ $ref: '#/components/parameters/TenantPath' }]
    post:
      tags: [M17 RBAC / Audit]
      summary: Async audit export (CSV / NDJSON)
      operationId: createAuditExport
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AuditExportRequest' }
      responses:
        '202':
          description: 'Export job queued'
          content: { application/json: { schema: { $ref: '#/components/schemas/ExportJobRef' } } }

  # M18 Config Governance (ADR-0067)
  /tenants/{tenantId}/m18/configs:
    parameters: [{ $ref: '#/components/parameters/TenantPath' }]
    get:
      tags: [M18 Config Governance (ADR-0067)]
      summary: List config namespaces
      operationId: listConfigNamespaces
      parameters:
        - { name: namespace, in: query, schema: { type: string } }
      responses:
        '200': { description: 'OK', content: { application/json: { schema: { $ref: '#/components/schemas/ConfigNamespaceList' } } } }
  /tenants/{tenantId}/m18/configs/{namespace}/{key}:
    parameters:
      - $ref: '#/components/parameters/TenantPath'
      - { name: namespace, in: path, required: true, schema: { type: string } }
      - { name: key, in: path, required: true, schema: { type: string } }
    get:
      tags: [M18 Config Governance (ADR-0067)]
      summary: Get current config value + version metadata (admin view)
      operationId: getConfigValue
      responses:
        '200': { description: 'OK', content: { application/json: { schema: { $ref: '#/components/schemas/ConfigValue' } } } }
    put:
      tags: [M18 Config Governance (ADR-0067)]
      summary: Draft new config version (schema validation + audit)
      operationId: draftConfigVersion
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/XInitiator'
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ConfigDraft' }
      responses:
        '201': { description: 'Config version drafted', content: { application/json: { schema: { $ref: '#/components/schemas/ConfigVersion' } } } }
        '422':
          description: CONFIG_SCHEMA_INVALID
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
  /tenants/{tenantId}/m18/configs/{namespace}/{key}/versions/{versionId}:start-rollout:
    parameters:
      - $ref: '#/components/parameters/TenantPath'
      - { name: namespace, in: path, required: true, schema: { type: string } }
      - { name: key, in: path, required: true, schema: { type: string } }
      - { name: versionId, in: path, required: true, schema: { type: string } }
    post:
      tags: [M18 Config Governance (ADR-0067)]
      summary: Start staged rollout (5% → 50% → 100% per ADR-0067)
      operationId: startConfigRollout
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/XInitiator'
        - $ref: '#/components/parameters/XApprover'
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RolloutRequest' }
      responses:
        '202':
          description: 'Rollout started'
          content: { application/json: { schema: { $ref: '#/components/schemas/RolloutHandle' } } }
        '403':
          description: SOD_VIOLATION or INSUFFICIENT_AUTHORITY
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
  /tenants/{tenantId}/m18/rollouts/{rolloutId}:rollback:
    parameters:
      - $ref: '#/components/parameters/TenantPath'
      - { name: rolloutId, in: path, required: true, schema: { type: string } }
    post:
      tags: [M18 Config Governance (ADR-0067)]
      summary: Rollback to previous version (≤ 1 min RTO per ADR-0067)
      operationId: rollbackConfig
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      responses:
        '200': { description: 'Rolled back', content: { application/json: { schema: { $ref: '#/components/schemas/RolloutHandle' } } } }
  /tenants/{tenantId}/m18/configs/{namespace}/{key}/audit:
    parameters:
      - $ref: '#/components/parameters/TenantPath'
      - { name: namespace, in: path, required: true, schema: { type: string } }
      - { name: key, in: path, required: true, schema: { type: string } }
    get:
      tags: [M18 Config Governance (ADR-0067)]
      summary: Config change audit log
      operationId: listConfigAudit
      parameters: [{ $ref: '#/components/parameters/Cursor' }]
      responses:
        '200': { description: 'OK', content: { application/json: { schema: { $ref: '#/components/schemas/ConfigAuditList' } } } }

  # M18 Config Read API (ADR-0068 ACL)
  /m18/config-read/{namespace}/{key}:
    parameters:
      - { name: namespace, in: path, required: true, schema: { type: string } }
      - { name: key, in: path, required: true, schema: { type: string } }
    get:
      tags: [M18 Config Read API (ADR-0068 ACL)]
      summary: Resolve current config value (ACL for business modules — ADR-0068)
      operationId: readConfig
      parameters:
        - $ref: '#/components/parameters/XTenantId'
        - { name: version, in: query, schema: { type: string } }
      responses:
        '200':
          description: 'OK'
          headers:
            X-Config-Version:
              schema: { type: string }
            Cache-Control:
              schema: { type: string }
          content: { application/json: { schema: { $ref: '#/components/schemas/ConfigReadResult' } } }
        '404':
          description: CONFIG_NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
        '409':
          description: CONFIG_VERSION_MISMATCH
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  # A01 Chatbot Intake
  /chatbot/intake:debounce-check:
    post:
      tags: [A01 Chatbot Intake (debounce)]
      summary: Debounce window check (800ms ± 100ms per K-AI-9)
      operationId: chatbotDebounceCheck
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/XTenantId'
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DebounceCheckRequest' }
      responses:
        '200': { description: 'OK', content: { application/json: { schema: { $ref: '#/components/schemas/DebounceCheckResponse' } } } }

  # A03 ReAct Agent + A04 RAG + A05 Guardrails
  /chatbot/agent:respond:
    post:
      tags: [A03 ReAct Agent]
      summary: Generate AI response (Skill-Gated ReAct + RAG + Guardrails)
      operationId: chatbotAgentRespond
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/XTenantId'
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AgentRequest' }
      responses:
        '200': { description: 'OK', content: { application/json: { schema: { $ref: '#/components/schemas/AgentResponse' } } } }
        '403':
          description: AI_FORBIDDEN_ACTION — guardrail rejected
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  /chatbot/rag:search:
    post:
      tags: [A04 RAG Pipeline]
      summary: RAG vector search (pgvector top-k + tenant/brand scope filter)
      operationId: chatbotRagSearch
      parameters:
        - $ref: '#/components/parameters/XTenantId'
        - { name: X-Brand-Scope, in: header, schema: { type: array, items: { type: string } } }
        - { name: X-Project-Scope, in: header, schema: { type: array, items: { type: string } } }
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RagSearchRequest' }
      responses:
        '200': { description: 'OK', content: { application/json: { schema: { $ref: '#/components/schemas/RagSearchResponse' } } } }

  /chatbot/guardrails:check:
    post:
      tags: [A05 Guardrails]
      summary: Run deterministic guardrail rules (FR-NEW-7 + ADR-0028)
      operationId: chatbotGuardrailsCheck
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/GuardrailCheckRequest' }
      responses:
        '200': { description: 'OK', content: { application/json: { schema: { $ref: '#/components/schemas/GuardrailCheckResponse' } } } }

  # A06 ProblemCard Bridge
  /chatbot/problem-cards:draft:
    post:
      tags: [A06 ProblemCard Bridge]
      summary: AI drafts PC (will require CS 1-click confirm per ADR-0031)
      operationId: chatbotDraftProblemCard
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/XTenantId'
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PCDraftRequest' }
      responses:
        '202':
          description: Draft accepted; will appear in CS queue
          content: { application/json: { schema: { $ref: '#/components/schemas/PCDraftReceipt' } } }
        '403':
          description: AI_FORBIDDEN_CONVERT_TO_WO
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  # A07 Human Handoff
  /chatbot/handoff:request:
    post:
      tags: [A07 Human Handoff]
      summary: Request human handoff (FR-0018 + 7 hard rules from ADR-0048)
      operationId: chatbotRequestHandoff
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/XTenantId'
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/HandoffRequest' }
      responses:
        '200': { description: 'OK', content: { application/json: { schema: { $ref: '#/components/schemas/HandoffResponse' } } } }

  # A08 Multimodal
  /chatbot/multimodal:image:
    post:
      tags: [A08 Multimodal]
      summary: Accept image attachment (SOW 2.1(4) — NO image-to-text vision API)
      operationId: chatbotUploadImage
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/XTenantId'
      requestBody:
        content:
          multipart/form-data:
            schema: { $ref: '#/components/schemas/ImageUpload' }
      responses:
        '201': { description: 'Image uploaded', content: { application/json: { schema: { $ref: '#/components/schemas/ImageUploadResult' } } } }
        '422':
          description: IMAGE_QUALITY_REJECT or VISION_API_FORBIDDEN
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  # A09 Eval & Observability + A11 Health
  /chatbot/eval/runs:
    post:
      tags: [A09 Eval & Observability]
      summary: Trigger eval run (200-question forbidden corpus + K-AI-1/7 accuracy)
      operationId: createEvalRun
      parameters: [{ $ref: '#/components/parameters/IdempotencyKey' }]
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/EvalRunRequest' }
      responses:
        '202':
          description: 'Eval run started'
          content: { application/json: { schema: { $ref: '#/components/schemas/EvalRunHandle' } } }
  /chatbot/eval/runs/{runId}:
    parameters: [{ name: runId, in: path, required: true, schema: { type: string } }]
    get:
      tags: [A09 Eval & Observability]
      summary: Get eval run result; pass < 95% → block_deploy=true (FR-NEW-3)
      operationId: getEvalRun
      responses:
        '200': { description: 'OK', content: { application/json: { schema: { $ref: '#/components/schemas/EvalRunResult' } } } }
  /chatbot/health:
    get:
      tags: [A11 Deployment Health]
      summary: Chatbot system health (FR-0033 + A11)
      operationId: getChatbotHealth
      responses:
        '200': { description: 'OK', content: { application/json: { schema: { $ref: '#/components/schemas/HealthReport' } } } }

  # KB — Agent Knowledge Base (ADR-0101)
  /kb/documents:
    get:
      tags: [KB (Agent Knowledge Base)]
      summary: List KB documents (tenant + brand + project scope filter per ADR-0101 §2.3)
      operationId: listKBDocuments
      parameters:
        - $ref: '#/components/parameters/XTenantId'
        - { name: X-Brand-Scope, in: header, schema: { type: array, items: { type: string } } }
        - { name: X-Project-Scope, in: header, schema: { type: array, items: { type: string } } }
        - { name: doc_type, in: query, schema: { type: string, enum: [mega_doc, manual, sop, faq] } }
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200': { description: 'OK', content: { application/json: { schema: { $ref: '#/components/schemas/KBDocumentList' } } } }
    post:
      tags: [KB (Agent Knowledge Base)]
      summary: Ingest KB document (mega-doc per ADR-0008 / ADR-0101)
      operationId: ingestKBDocument
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/XTenantId'
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/KBDocumentIngest' }
      responses:
        '201': { description: 'Document ingested', content: { application/json: { schema: { $ref: '#/components/schemas/KBDocument' } } } }
  /kb/documents/{docId}:
    parameters: [{ name: docId, in: path, required: true, schema: { type: string } }]
    get:
      tags: [KB (Agent Knowledge Base)]
      summary: Read KB document (with scope check)
      operationId: getKBDocument
      parameters:
        - $ref: '#/components/parameters/XTenantId'
      responses:
        '200': { description: 'OK', content: { application/json: { schema: { $ref: '#/components/schemas/KBDocument' } } } }
        '403':
          description: KB_SCOPE_VIOLATION
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
  /kb/dynamic-lookup/serial-warranty:
    get:
      tags: [KB (Agent Knowledge Base)]
      summary: Serial → warranty dynamic lookup (ADR-0101 §2.2 — UC-new-2)
      operationId: kbSerialWarrantyLookup
      parameters:
        - $ref: '#/components/parameters/XTenantId'
        - { name: serial, in: query, required: true, schema: { type: string } }
      responses:
        '200': { description: 'OK', content: { application/json: { schema: { $ref: '#/components/schemas/DynamicLookupResult' } } } }
        '404':
          description: SERIAL_NOT_FOUND
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
  /kb/dynamic-lookup/project-unit-model:
    get:
      tags: [KB (Agent Knowledge Base)]
      summary: Project → unit → model dynamic lookup (UC-new-3 / BR-M14-02)
      operationId: kbProjectUnitModelLookup
      parameters:
        - $ref: '#/components/parameters/XTenantId'
        - { name: project_id, in: query, required: true, schema: { type: string } }
        - { name: unit_id, in: query, schema: { type: string } }
      responses:
        '200': { description: 'OK', content: { application/json: { schema: { $ref: '#/components/schemas/DynamicLookupResult' } } } }

  # Sync — ERP ↔ Chatbot
  /sync/intake-capture:
    post:
      tags: [Sync (ERP ↔ Chatbot)]
      summary: S-M01 Intake capture sync — chatbot → ERP raw intake event
      operationId: syncIntakeCapture
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/XTenantId'
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SyncEventEnvelope' }
      responses:
        '202': { description: 'Accepted', content: { application/json: { schema: { $ref: '#/components/schemas/SyncReceipt' } } } }
  /sync/facts-master:
    post:
      tags: [Sync (ERP ↔ Chatbot)]
      summary: S-M02 User facts master sync (SCD2 — eternal retention)
      operationId: syncFactsMaster
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/XTenantId'
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SyncEventEnvelope' }
      responses:
        '202': { description: 'Accepted', content: { application/json: { schema: { $ref: '#/components/schemas/SyncReceipt' } } } }
  /sync/pc-convert:
    post:
      tags: [Sync (ERP ↔ Chatbot)]
      summary: S-M03 PC convert sync — AI draft → ERP PC + CS 1-click queue
      operationId: syncPcConvert
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/XTenantId'
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SyncEventEnvelope' }
      responses:
        '202': { description: 'Accepted', content: { application/json: { schema: { $ref: '#/components/schemas/SyncReceipt' } } } }
  /sync/convert-to-wo:
    post:
      tags: [Sync (ERP ↔ Chatbot)]
      summary: S-M04 Convert-to-WO (G-Sync-3 — Phase I forced human gate)
      operationId: syncConvertToWO
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/XTenantId'
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ConvertToWORequest' }
      responses:
        '201': { description: 'WorkOrder created', content: { application/json: { schema: { $ref: '#/components/schemas/WorkOrderRef' } } } }
        '403':
          description: AI_FORBIDDEN_CONVERT_TO_WO
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
  /sync/dispatch:
    post:
      tags: [Sync (ERP ↔ Chatbot)]
      summary: S-M05 Dispatch sync — ERP → chatbot status push
      operationId: syncDispatch
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/XTenantId'
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SyncEventEnvelope' }
      responses:
        '202': { description: 'Accepted', content: { application/json: { schema: { $ref: '#/components/schemas/SyncReceipt' } } } }
  /sync/evidence-writeback:
    post:
      tags: [Sync (ERP ↔ Chatbot)]
      summary: S-M06 Evidence write-back (ERP photo / sign → chatbot context)
      operationId: syncEvidenceWriteback
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/XTenantId'
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SyncEventEnvelope' }
      responses:
        '202': { description: 'Accepted', content: { application/json: { schema: { $ref: '#/components/schemas/SyncReceipt' } } } }

  # ACL External Integration
  /acl/serial-control/lookup:
    post:
      tags: [ACL External Integration]
      summary: Brand serial-control system lookup (ADR-0053 + ADR-0068 ACL)
      operationId: aclSerialControlLookup
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/XTenantId'
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SerialLookupRequest' }
      responses:
        '200': { description: 'OK', content: { application/json: { schema: { $ref: '#/components/schemas/SerialLookupResult' } } } }
        '503':
          description: EXTERNAL_DEP_DOWN
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
  /acl/brand-warranty/inquire:
    post:
      tags: [ACL External Integration]
      summary: Brand warranty system inquiry (ADR-0044 + ADR-0068 ACL)
      operationId: aclBrandWarrantyInquire
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/XTenantId'
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WarrantyInquireRequest' }
      responses:
        '200': { description: 'OK', content: { application/json: { schema: { $ref: '#/components/schemas/WarrantyInquireResult' } } } }
  /acl/rma-partner/submit:
    post:
      tags: [ACL External Integration]
      summary: Submit RMA to partner system (FR-0048 quality feedback loop)
      operationId: aclRmaPartnerSubmit
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/XTenantId'
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RMASubmitRequest' }
      responses:
        '202': { description: 'Accepted', content: { application/json: { schema: { $ref: '#/components/schemas/RMASubmitReceipt' } } } }

  # M01 Dashboard — tenant-scoped KPI 統計（CR-0003 P2-W1, FR-0021）
  /tenants/{tenantId}/dashboard/stats:
    x-phase: I-readonly
    parameters:
      - $ref: '#/components/parameters/TenantPath'
    get:
      tags: [Dashboard]
      summary: Dashboard KPI 統計（tenant-scoped，period filter）
      operationId: getDashboardStats
      description: |
        取得指定租戶在選定時段內的 dashboard KPI 統計，包含對話數、
        AI 解決率、平均解決時間、熱門議題、Token 用量、工單今日 KPI
        與技師概況。period 參數映射：today / 7d / 30d / 90d。
        跨租戶讀取（path tenantId ≠ JWT tenant_id）回傳 403 CROSS_TENANT_READ。
      parameters:
        - name: period
          in: query
          required: false
          schema:
            type: string
            enum: [today, 7d, 30d, 90d]
            default: 7d
          description: 統計時段
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 'OK — tenant-scoped dashboard KPI 統計'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardStats'
        '401':
          description: Unauthenticated
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
        '403':
          description: CROSS_TENANT_READ — path tenantId 與 JWT claim 不符
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
        '503':
          description: DB_UNAVAILABLE
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }

  # Phase II placeholders
  /tenants/{tenantId}/settlements/monthly:
    x-phase: II
    parameters: [{ $ref: '#/components/parameters/TenantPath' }]
    post:
      tags: [M11 AR / Payment]
      summary: '[Phase II] Trigger monthly settlement (M12)'
      operationId: triggerMonthlySettlement
      description: 'NOT exposed in V1. OAuth scope `phase2.settlement` required.'
      responses:
        '200': { description: 'Accepted (Phase II only; V1 returns 501 below)' }
        '501': { description: NOT_IMPLEMENTED_V1 }

  # P2-W1: Reports tenant-scoped v2 (CR-0003 P2-W1, FR-0021)
  /tenants/{tenantId}/reports/kpi:
    parameters: [{ $ref: '#/components/parameters/TenantPath' }]
    get:
      tags: [Reports]
      summary: 'KPI 儀表板（tenant-scoped v2；漏斗 / 異常率 / 技師效率）'
      operationId: getReportKpi
      description: >
        Returns KPI funnel, dispute rates and technician efficiency for the
        authenticated tenant. Supports `period` enum or explicit `start_date`
        / `end_date` date range. Replaces legacy GET /api/v1/reports/kpi with
        tenant path enforcement (ADR-0030 cross-tenant guard).
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/XTenantId' }
        - name: period
          in: query
          schema: { type: string, enum: [today, 7d, 30d, 90d], default: 30d }
        - name: start_date
          in: query
          schema: { type: string, format: date }
        - name: end_date
          in: query
          schema: { type: string, format: date }
      responses:
        '200': { description: 'KPI report', content: { application/json: { schema: { type: object } } } }
        '401': { description: 'Unauthenticated' }
        '403': { description: 'Cross-tenant read forbidden (CROSS_TENANT_READ)' }

  /tenants/{tenantId}/reports/revenue:
    parameters: [{ $ref: '#/components/parameters/TenantPath' }]
    get:
      tags: [Reports]
      summary: '營收彙整（tenant-scoped v2；KPI + 月度趨勢 + 品牌占比）'
      operationId: getReportRevenue
      description: >
        Returns revenue summary including KPI metrics, monthly trend and
        per-brand breakdown for the authenticated tenant. Replaces legacy
        GET /api/v1/reports/revenue with tenant path enforcement (ADR-0030).
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/XTenantId' }
        - name: granularity
          in: query
          schema: { type: string, default: month }
        - name: start_date
          in: query
          schema: { type: string, format: date }
        - name: end_date
          in: query
          schema: { type: string, format: date }
      responses:
        '200': { description: 'Revenue summary', content: { application/json: { schema: { type: object } } } }
        '401': { description: 'Unauthenticated' }
        '403': { description: 'Cross-tenant read forbidden (CROSS_TENANT_READ)' }

  /tenants/{tenantId}/reports/export:
    parameters: [{ $ref: '#/components/parameters/TenantPath' }]
    get:
      tags: [Reports]
      summary: '匯出 KPI / 營收 / 技師排行 / 結算報表（tenant-scoped v2；CSV stream）'
      operationId: exportReport
      description: >
        Streams a CSV export for the given report_type scoped to the
        authenticated tenant. Role gate: admin / operations_manager / accountant.
        Replaces legacy GET /api/v1/reports/export (CSV only; PDF excluded from
        v2 to align with FR-0021 scope). Tenant path enforcement per ADR-0030.
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/XTenantId' }
        - name: report_type
          in: query
          required: true
          schema: { type: string, enum: [kpi, revenue, technician_ranking, accounting] }
        - name: period
          in: query
          schema: { type: string, enum: [today, 7d, 30d, 90d] }
        - name: from
          in: query
          schema: { type: string, format: date }
        - name: to
          in: query
          schema: { type: string, format: date }
      responses:
        '200':
          description: 'CSV stream'
          content:
            text/csv:
              schema: { type: string }
          headers:
            Content-Disposition:
              schema: { type: string }
        '401': { description: 'Unauthenticated' }
        '403': { description: 'Insufficient role or cross-tenant read forbidden' }
        '422': { description: 'Invalid report_type or period parameter' }

  /tenants/{tenantId}/sentiment/alerts:
    parameters: [{ $ref: '#/components/parameters/TenantPath' }]
    get:
      tags: [Sentiment Alerts]
      summary: '負面情緒告警列表（tenant-scoped v2；cursor 分頁；FR-0018 / CR-0003 P2-W2）'
      operationId: listSentimentAlerts
      description: >
        Returns a cursor-paginated list of sentiment alerts scoped to the
        authenticated tenant. Supports filtering by status and start_time.
        Tenant path enforcement per ADR-0030. Replaces legacy
        GET /api/v1/sentiment/alerts (flat, non-tenant-scoped).
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/XTenantId' }
        - name: status
          in: query
          schema: { type: string, enum: [pending, acknowledged, resolved] }
        - name: start_time
          in: query
          schema: { type: string, format: date-time }
        - { $ref: '#/components/parameters/Cursor' }
        - { $ref: '#/components/parameters/Limit' }
      responses:
        '200':
          description: 'Sentiment alert page (cursor-paginated)'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SentimentAlertPage' }
        '401': { description: 'Unauthenticated' }
        '403': { description: 'Cross-tenant read forbidden (CROSS_TENANT_READ)' }
        '422': { description: 'Invalid status value' }

  /tenants/{tenantId}/sentiment/alerts/{id}:
    parameters:
      - { $ref: '#/components/parameters/TenantPath' }
      - name: id
        in: path
        required: true
        schema: { type: string }
    patch:
      tags: [Sentiment Alerts]
      summary: '處理情緒告警（tenant-scoped v2；pending→acknowledged→resolved；FR-0018）'
      operationId: updateSentimentAlert
      description: >
        Transitions a sentiment alert's status (pending → acknowledged → resolved,
        single-direction only). admin_note is preserved when omitted; empty string
        clears it. Idempotent via Idempotency-Key header. Cross-tenant write
        forbidden (ADR-0030). Replaces legacy PATCH /api/v1/sentiment/alerts/{alert_id}.
      security: [{ bearerAuth: [] }]
      parameters:
        - { $ref: '#/components/parameters/XTenantId' }
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SentimentAlertUpdateRequest' }
      responses:
        '200':
          description: 'Updated sentiment alert'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SentimentAlert' }
        '401': { description: 'Unauthenticated' }
        '403': { description: 'Cross-tenant write forbidden (CROSS_TENANT_WRITE)' }
        '404': { description: 'Sentiment alert not found' }
        '409': { description: 'Invalid status transition (INVALID_TRANSITION)' }
        '422': { description: 'Validation error' }

  ## --- Notifications v2 (P2-W2 / CR-0003 / ADR-0012 / FR-0018) ---
  /tenants/{tenantId}/notifications:
    get:
      tags: [Notifications]
      summary: 通知列表（tenant-scoped，游標分頁）
      operationId: listNotifications
      description: |
        回傳指定租戶目前登入使用者的通知列表，支援 status / type 過濾。
[...]
