langchain-text-splitters
langchain_google_genai
langchain-google-vertexai
langchain-community
langchain-ollama
langchain-chroma
langchain-postgres
psycopg[binary]
duckduckgo-search
python-dotenv
line-bot-sdk
langgraph
langgraph-checkpoint-sqlite
langgraph-checkpoint-postgres
requests
fastapi
uvicorn
ddgs
aiosqlite